@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .slidesjs-previous {background-image: url('../images/arrow-slide_prev@2x.png');}
    .slidesjs-next {background-image: url('../images/arrow-slide_next@2x.png');}
    .slidesjs-pagination-item a {background-image: url('../images/pagination@2x.png');}
    .slidesjs-pagination-item a.active, .slidesjs-pagination-item a:hover {background-image: url('../images/pagination-hover@2x.png');}
    #top_facebook {background-image: url('../images/facebook2@2x.png');}
    #top_facebook:hover {background-image: url('../images/facebook-hover2@2x.png');}
    #top_twitter {background-image: url('../images/twitter2@2x.png');}
    #top_mail {background-image: url('../images/mail@2x.png');}
    #display_team_2, #display_text_2, #display_work_2 {background-image: url('../images/2colonnes@2x.png');}
    #display_team_3, #display_text_3, #display_work_4 {background-image: url('../images/quadrillage@2x.png');}
    #nav_left_showcase {background-image: url('../images/arrow_left@2x.png');}
	#nav_right_showcase {background-image: url('../images/arrow_right@2x.png');}
	.pagination_showcase {background-image: url('../images/pagination@2x.png');}
	.pagination_showcase.current-pagination {background-image: url('../images/pagination-hover@2x.png');}
	.likes {background-image: url('../images/like@2x.png');}
	.likes.red {background-image: url('../images/like-hover@2x.png');}
	.nb_comments {background-image: url('../images/comment@2x.png');}
	.nb_comments.blue, .img_comment {background-image: url('../images/comment-hover@2x.png');}
	.img_recent_posts {background-image: url('../images/arrow2@2x.png');}
	#recent_posts p:hover + .img_recent_posts, #archives p:hover + .img_recent_posts, .img_recent_posts:hover  {background-image: url('../images/arrow2-hover@2x.png');}
	#contact_social td div{	background-image: url('../images/footer_social@2x.png'); -webkit-background-size: 750px 206px;	background-size: 750px 206px; }
	#contact_social td div:after { background-image: url('../images/footer_social@2x.png'); -webkit-background-size: 750px 206px;	background-size: 750px 206px; }

	@media handheld and (max-width: 650px), screen and (max-width: 650px), screen and (max-device-width: 650px)  {

	.nb_comments {background-image: url('../images/phones/comment@2x.png');}
	.nb_comments.blue {background-image: url('../images/phones/comment-hover@2x.png');}
	.likes {background-image: url('../images/phones/hearth@2x.png');}
	.likes.red {background-image: url('../images/phones/hearth-hover@2x.png');}

	}
}